@model IEnumerable<Skribi.Models.Room>
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Skribi</h1>
    <p>The definitive ASP.NET Core open-source forum software.</p>
</div>
